body {
  background: #30768b;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
  text-align: center;
  font-size: 18px;
}
.wrappper1, .wrappper2 {
  width: 100%;
  margin: 0 auto;
}
canvas {
  color: #fff;
  border: #fff dashed 2px;
  padding: 45px;
}
h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  margin: 5px 0;
}
h1 {
  color: #fff;
  font-size: 2.6em;
}
h2 {
  color: #fff;
  font-size: 1.6em;
}
p {
  color: #fff;
  font-size: 1.6em;
}
#alphabet {
  color: #fff;
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}
#alphabet:after {
  color: black;
  content: "";
  display: table;
  clear: both;
}
#alphabet li {
  color: black;
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #fff;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
}
#alphabet li:hover {
  background: #c1d72e;
  border: solid 1px #fff;
  color: #fff;
}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}
p {
  font-size: 1.6em;
  color:#fff;
}
#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
  color: black;
}
#alphabet:after {
  content: "";
  display: table;
  clear: both;
  color: black;
}
#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  background: #fff;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
}
#alphabet li:hover {
  background: #c1d72e;
  border: solid 1px #fff;
  color: #fff;
}
#my-word {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}
#my-word li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
  color: #fff;
}
button {
  border-radius: 15px;
  border-bottom: none;
  font-size:20px;
  background-color:#686b56e0;
  color:#fff;
}

